<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation strict="false" explicit="true" targetFramework="4.0" />
  </system.web>
</configuration>
<!--ProjectGuid: 3A585878-B0C0-4F72-A0E2-27E79ABFE31D-->
<!--ProjectGuid: 0A9BA64C-7DE8-401C-BF85-230242E2720F-->